<table st-table="displaynotificationData"  st-safe-src="jobnotificationData" class="table" border=1 >
    <thead>
        <tr>
            <th ng-repeat="(key, value) in displaynotificationData[0]" ng-if="key != 'isSelected'"> {{key}} </th>
        </tr>
    </thead>
    <tbody>
        <tr st-select-row="data" st-select-mode="single" ng-repeat="data in displaynotificationData" >
            <td ng-repeat="(key,d) in data" ng-if="key != 'isSelected'" >{{d}}</td>
        </tr>
    </tbody>
</table>

